* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
}
.contact {
  height: 0rem;
  min-height: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1002;
  background-color: #9d1e63;
  font-size: 1rem;
  justify-content: space-between;
  padding: 0 2rem;
  align-content: center;
}
.number {
  margin-right: 20px;
  font-family: "Oswald", sans-serif;
  color: white;
}
.social {
  margin-left: 10px;
  font-family: "Oswald", sans-serif;
  color: white;
}
.social a {
  text-decoration: none;
  color: white;
  margin: 5px;
}

.header-items {
  height: 0;
  min-height: 5.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  top: 4vh;
  position: absolute;
  left: 0;
  width: 100vw;
  z-index: 102;
  background-color: white;
  font-size: 1rem;
  padding: 0px 2rem;
  justify-content: space-between;
  align-items: center;
}
.header-items img {
  align-self: center;
  object-fit: contain;
  margin: 1rem;
  width: 5rem;
  height: 5rem;
}
.links li {
  text-decoration: none;
  display: inline-block;
  padding: 2rem 2rem;
  align-items: center;
  font-size: 1rem;
  margin: 0;
}
.links ul {
  align-items: center;
}
.links li a {
  align-items: center;
  transition: all 0.2s ease-in 0s;
  color: #9d1e63;
}
.links li a:hover {
  transition: all 0.3s ease-in 0s;
  color: #9d1e6460;
  border-radius: 100px;
}
.icon-bar {
  display: none;
  font-size: 1.5rem;
  color: #9d1e63;
}
@media screen and (max-width: 900px) {
  .links {
    display: none;
  }
  .icon-bar {
    float: right;
    display: block;
  }
}
