::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #9d1e63;
}
.content {
  width: 100vw;
  height: auto;
  display: flex;
  overflow: scroll;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.img-comp-container {
  width: 20rem;
  padding: 1rem;
  position: relative;
  height: 200px; /*should be the same height as the images*/
  margin-top: 2rem;
}

.img-comp-img {
  width: 20rem;
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  object-fit: contain;
}

.img-comp-img img {
  width: 20rem;
  object-fit: contain;
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #9d1e63;
  opacity: 0.5;
  border-radius: 50%;
}
